<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropTextFiled.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A99E5291C55F685001E9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A99E53D1C55F685001E9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A99E5481C55F685001E9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
